@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');


h1 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 56px;
  line-height: 1.2;
  color: #F5D1C8;
  margin-bottom: 16px;

  @media (min-width: 996px) {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 24px;
  }
}

p {
 font-family: 'Merriweather Sans', sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: .5px;
 color: #F5D1C8;
}

a {
  color: #F5D1C8;
}
