body {
  background-color: #1D3737;
}

body, html {
  height: 100%;
  margin: 0;
}

//Containers and positioning
section {
  padding: 48px 0;

  @media (min-width: 768px){
    padding: 96px 0;
  }

  @media (min-width: 1024px){
    padding: 120px 0;
  }
}

.container {
  padding: 0 16px;

  @media (min-width: 1280px) {
    max-width: 1216px;
    margin: auto;
  }
}

@media (min-height: 600px) and (min-width: 768px) {
  .center-vh {
    height: 100vh;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vh-center {
    padding-top: 0;
  }
}

.wrapper {
  overflow: hidden;
  position: relative;
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hairline {
  border-top: 4px solid #000000;
  opacity: .3;
  margin-bottom: 32px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
  display: inline-block;
  margin-right: 24px;
  transition: all 400ms ease-in-out;
}

.social-icon img  {
  height: 20px;
  max-width: 25px;
}

@media (min-width: 768px) {
  .social-icon img  {
    height: auto;
    max-width: unset;
  }

  .social-icon {
    margin-right: 32px;
  }
}

.social-icon:hover, .social-icon:active{
  opacity: .5;
}

footer {
  padding-bottom: 16px;
}

@media (min-height: 600px) and (min-width: 768px) {

  footer {
    padding-bottom: 0;
  }
}
