<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="stamps"></div>
     <!-- {% include navigation.html %} -->
     <div class="center-vh wrapper">
       <div>
         <section class="vh-center">
           <div class="container">
             <h1 class="custom-period"><span class="custom-period">hello there</span> my name is meaghan hendricks and i am a visual and web designer</h1>
             <p>This portfolio site  is currently a work in progress. While I take my time getting my shit together, you can view my work at <a class="text-a" href="https://www.behance.net/meaghanhendricks">behance</a>  or <a class="text-a" href="https://dribbble.com/meaghanhendricks">dribbble</a></p>
           </div>
         </section>
         {% include footer.html %}
       </div>
    </div>
    <script src="/assets/js/stamps.js"></script>
  </body>
</html>
